.icon-style {
      color: gray;
      font-size: 1rem;
      position: fixed;
      bottom: 0;
}



.item-md{
      padding-left : 0;
}



.label-md{
     margin : 0;
}

#h2{
      font-size: 1.3rem;
      font-weight: bold;
}