page-search {
    .toolbar-background {
        background: $toolbar-background;
    }

    .h2 {      
      font-size: 2rem;
      font-weight: bold;
    }

    .like-button {
        height: 1.5rem;
    }
    .like-icon {
        color: red;
    }

    .customIcon {
        font-size: 1.7em;
        color: white;
    }


}




