$slide-height-small: 1rem;

.slide-title-inactive {
  //padding-bottom: $slide-height-small;
  //height: $slide-height-small;
  //line-height: $slide-height-small;
  font-size: $nav-title-size-inactive;
  color: $nav-title-color-inactive;

}

.slide-title-active {
  color: $nav-title-color-active;
  font-size: $nav-title-size-active;
}
