<ion-header>
  <ion-navbar>
    <ion-row padding>
      <ion-col col-9>
      </ion-col>
      <ion-col col-3 (click)="changeLike()">
        <ion-icon class="like-icon"  md="md-heart"  *ngIf="ActivitieDetail?.liked">
          {{ActivitieDetail?.user_fans_count}}
        </ion-icon>
        <ion-icon class="like-icon" md="md-heart-outline"  *ngIf="! ActivitieDetail?.liked">
          {{ActivitieDetail?.user_fans_count}}
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-row *ngIf="ActivitieDetail">
    <ion-slides pager>
      <ion-slide *ngFor="let pic of ActivitieDetail.thumbnail_pic">
        <img src={{pic}}>
      </ion-slide>
    </ion-slides>


    <ion-row>
      <ion-col padding text-wrap class="h2">
        {{ActivitieDetail?.title}}
      </ion-col>
    </ion-row>
    <ion-row padding class="icon-style">
      {{ActivitieDetail?.created | date:"yyyy/MM/dd h:mma"}}
    </ion-row>

    <ion-row>
      <ion-col text-wrap padding>
        {{ActivitieDetail?.description}}
      </ion-col>
    </ion-row>





  </ion-row>


</ion-content>